* {
  font-family: Arial, sans-serif;
}

html{
  min-height: 100vh;
  margin: 0px;
}

body {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  margin: 0px;
}

button {
    padding: 4px 10px;
    border-radius: 4px;
    border: 0;
    font-size: 110%;
    background-color: red;
    color: white;
    font-weight: bold;
}

button:hover {
  background-color: gray;
}

header{
  background-color: red;
  color: white;
  padding: 5px 10px;
}

h1{
  padding-left: 5px;
}

footer{
  background-color: red;
  color: white;
  padding: 5px 10px;
  height: 64px;
}

nav{
  background-color: rgb(231, 231, 231);
  padding: 5px 10px;
}